.menu{
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 480px;
    border: 2px solid #FA8072;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    
    h2{
        font-weight: bold;
        color: black;
    }
    div{
        margin: 10px;
    }
    .img-container{
        img{
            width: 100%;
    //   object-fit: cover;
      width: 200px;
      height: 150px;
        }
    }
    p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    overflow: hidden;
    }

}